.cardContainer {
  position: relative;
  background-color: #111;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 400px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  margin: 1.2rem;
  transition: filter 0.1s ease-in-out;
}
.cardContainer:hover {
  filter: drop-shadow(0 0 1rem #A2FFCE);
  transition: all 0.2s ease-in-out;
}
.cardContainer figure {
  width: 50%;
  position: relative;
  top: -15px;
  left: 20px;
}
.cardImage {
  border-radius: 5px;
  width: 180px;
}
.cardBody {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 15px;
}
.cardBody h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}
.cardBody p {
  font-size: 0.8rem;
}
@media( 320px <= width <= 768px ){
  .cardContainer {
    width: 310px;
    height: 250px;
    margin: 0;
  }
  .cardContainer figure {
    top: calc(50% - 75px);
    left: 0;
    padding-left: 5px;
  }
  .cardImage {
    width: 150px;
  }
  .cardBody h5 {
    width: 100%;
    font-size: 1rem;
  }
}
