.cardContainer {
  position: relative;
  background-color: #111;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 450px;
  height: 210px;
  display: flex;
  justify-content: space-between;
  margin: 1.2rem;
}
.cardContainer figure {
  width: 50%;
  position: relative;
  top: -25px;
  left: 20px;
}
.cardImage {
  border-radius: 5px;
  width: 200px;
}
.cardBody {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 15px;
}
.cardBody h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}
.cardBody p {
  font-size: 0.8rem;
}
