.characterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6rem 0 0;
  color: #fff;
  background-image: linear-gradient(to bottom, #000, #2F2F2F);
}
.cardsContainer {
  margin: 1.5rem 0;
  height: 100%;  
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
}
.characterHeader h3 {
  font-weight: normal;
  padding: 1rem 0;
}
.inputCheck {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inputCheck label {
  font-weight: 700;
  filter: drop-shadow(0 0 .3rem #A2FFCE);
}
@media(320px <= width <= 768px){
  .characterContainer {
    padding: 6rem 0.5rem 0;
  }
  .characterHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .characterHeader h3 {
    text-align: center;
  }
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 12px;
  }
}
@media(min-width: 1024px) {
  
}