.grid {
  display: grid;
}
.section {
  margin-block: 4rem 1rem;
}
.container {
  margin-inline: 1.5rem;
}
.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #fff;
  background-image: linear-gradient(to bottom, #000, #2f2f2f);
}
.homeContainer {
  place-items: center;
  row-gap: 1.5rem;
}
.home-logo {
  width: 380px;
}
.img-Logo {
  width: 100%;
  filter: drop-shadow(0 0 0.5rem #a2ffce);
}
.homeTitle span {
  color: #18f77c;
}
.homeTitle:hover {
  filter: drop-shadow(0 0 0.5rem #a2ffce);
  transition: all 0.3s;
}
.homeSubtitle {
  font-size: 1.25rem;
  text-align: center;
}
/* Card Section */
.cardSection {
  width: 100%;
  height: 100%;
}
.box-title {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
}
.card-title, .trailer-title {
  position: absolute;
  top: -25px;
  width: 100%;
  background-color: #0c0c0c;
  padding: 0 1.5rem;
}
.card-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.card-box {
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  column-gap: 1.5rem;
}
.cardCharacter,
.cardEpisode,
.cardLocation {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(250, 250, 250, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
.cardCharacter img,
.cardEpisode img,
.cardLocation img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-block: 0 1rem;
}
.cardParraph {
  height: 100%;
  width: 100%;
  padding: 0 1.5rem;
}
.cardParraph h5 {
  margin-bottom: 1.5rem;
}
.seeMore {
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 0.5rem;
}
.cardSectionLinks {
  text-decoration: none;
  color: #000;
  background-color: #18f77c;
  border: 1px solid #18f77c;
  padding: .4rem .6rem;
  border-radius: 5px;
  font-weight: 600;
}
.cardSectionLinks:hover {
  background-color: transparent;
  border: 1px solid #18f77c;
  color: #fff;
  transition: all 0.2s ease;
}
.sectionDivisor {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin: 1rem 0;
  background: url("../../assets/imgLocations.jpg") no-repeat center;
  background-size: cover;
}
/* Section Trailers */
.trailer-title {
  background-color: #1a1a1a;
}
.trailersContainer {
  place-items: center;
  row-gap: 1.5rem;
}
.trailersContainer iframe:hover {
  box-shadow: 0 0 1rem #a2ffce;
  transition: all 0.3s ease-in-out;
}
.trailers-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}
.trailersBox h6 {
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
 
  .home {
    padding-top: 1rem;
  }
  .home-logo {
    width: 280px;
  }
  .card-box, .trailers-content {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .trailers-content iframe {
    width: 290px;
  }
}
@media screen and (min-width:576px) {
  .home-logo {
    width: 380px;
  }
}
@media screen and (min-width: 768px) {
  .card-box, .trailers-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px){
  .card-box, .trailers-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .trailers-content iframe {
    width: 360px;
  }
}

