.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 6rem 1rem 0;
    color: #fff;
    background-image: linear-gradient(to bottom, #000, #2F2F2F);
}
.logoHome {
    position: relative;
    width: 380px;
    top: -60px;
    left: calc(50% - 200px);
    filter: drop-shadow( 0 0 .5rem #A2FFCE);
}
.homeSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 0 2rem;
}
.homeSection h1{
    border-bottom: 1px solid #fff;
    font-weight: 500;
    width: 100%;
}
.homeSection h6 {
    font-weight: normal;
}
.cardSection {
    width: 100%;
    height: auto;
    margin: 1rem 0;
}
.cardSection-Header {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
}
.cardSection-Header h2 {
    position: absolute;
    top: -25px;
    width: auto;
    background-color: #0c0c0c;
    padding: 0 1.5rem;
}
.cardSection-section {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardSection .cardCharacter, .cardEpisode, .cardLocation {
    width: 25%;
    height: 100%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(250, 250, 250, 0.5);
    border-radius: 5px;
}
.cardCharacter img, .cardEpisode img, .cardLocation img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.cardParraph {
    width: 100%;
    padding: 0 1.5rem;
}
.cardParraph h5 {
    margin-bottom: 1.5rem;
}
.seeMore {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: .5rem;
}
.cardSectionLinks {
    text-decoration: none;
    color: #000;
    background-color: #18f77c;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}
.cardSectionLinks:hover {
    background-color: transparent;
    border:1px solid #18f77c;
    color: #fff;
    transition: all 0.2s ease;
}
.sectionDivisor {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin: 1rem 0;
    background: url("../../assets/imgLocations.jpg") no-repeat center;
    background-size: cover;
}
.sectionTrailers {
    width: 100%;
    height: auto;
    margin: 1.5rem 0;
}
.headerTrailers {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 15px 0;
    border-top: 1px solid #fff;
    display: flex;
    justify-content: center;
}
.headerTrailers h2 {
    position: absolute;
    top: -25px;
    width: auto;
    background-color: #1d1d1d;
    padding: 0 1.5rem;
}
.trailersContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.trailersContainer iframe:hover {
    box-shadow: 0 0 1rem #A2FFCE;
    transition: all 0.3s ease-in-out;
}
.trailersBox h6{
    text-align: center;
    margin-bottom: 10px;
}
@media(320px <= width <= 768px) {
    .homeContainer {
        padding: 6rem 0.5rem 0;
    }
    .logoHome {
        top: 0;
        left: calc(50% - 150px);
        width: 300px;
    }
    .homeSection {
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
        justify-content: center;
    }
    .cardSection-section {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .cardSection .cardCharacter, .cardEpisode, .cardLocation {
        width: 100%;
        margin: 1rem;
    }
    .cardSection-Header h2 {
        background-color: #000;
        top: -20px;
    }
    .headerTrailers h2 {
        background-color: #1a1a1a;
        padding: 5px;
    }
    .trailersContainer iframe {
        width: 300px;
    }
}
@media (min-width: 1024px){
    .cardSection-section {
        height: 65vh;
    }
}