.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-top: 1px solid #fff;
    color: #fff;
    width: 100%;
    height: 100px;
    margin-top: 1rem;
    padding: 1rem 5.5rem;
}
.footerAbout {
    width: 70%;
    font-size: 0.9rem;
    padding-right: 1rem;
}
.socials {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.linksFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.linkSocial {
    border-radius: 50%;
    display: grid;
    place-content: center;
    width: 40px;
    height: 40px;
}
.linkSocial.fb {
    background-color: #3b5998;
}
.linkSocial.ig {
    background-color: #f12222;
}
.linkSocial.ds {
    background-color: #7289d9;
}
.linkSocial.ldin {
    background-color: #0072b1;
}
.linkSocial.ghub {
    background-color: #171515;
}
/*MediaQuery*/
@media (max-width: 320px) {
    .containerFooter {
        width: 100vw;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid black;
    }
    .footerAbout {
        width: 100vw;
    }
    .footerAbout span {
        width: 100%;
    }
    .socials {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .socialTitle {
        
        width: 100%;
    }
}