.navbarContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100%;
  z-index: 2;
  padding: 1.2rem 5rem;
  background-image: linear-gradient(to bottom, #000, transparent);
  transition: all 0.2s;
}
.navbarContainer.bgDark {
  background-color: #111;
  height: 13vh;
  transition: all 0.2s;
}
nav {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
  transition: all 0.3 ease-in-out;
}
.boxBtnBurger {
  display: none;
}
.boxBtnBurger .btnBurger {
  display: grid;
  place-content: center;
  background-color: #111;
  border: 1px solid #2f2f2f;
  border-radius: 10px;
  padding: 5px;
}
.imgLogo {
  width: 12rem;
	height: 100%;
  padding: 10px 0;
	object-fit: contain;
	transition: all 0.3s ease-in-out;
}
.imgLogo:hover {
  filter: drop-shadow( 0 0 1rem #A2FFCE);
	transition: all 0.3s ease-in-out;
}
.boxLink {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all 0.2s ease-in-out;
}
.boxLink:hover {
  border-radius: 10px;
  background-color: #2f2f2f;
  transition: all 0.2s ease-in-out;
}
.boxLink .navLink {
  color: #fff;
  font-size: 0.8rem;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
@media (max-width:768px){
  .navbarContainer {
    justify-content: space-between;
    padding: 16px 5px;
    background-color: #111;
    height: 70px;
  }
  .navbarContainer.bgDark{
    height: 70px;
  }
  nav {
    background-color: #111;
    position: absolute;
    top: 70px;
    left: 0;
    width: 210px;
    height: calc(100vh - 70px);
    flex-direction: column;
    align-items: flex-start;
    
    transition: all 0.2s ease-in-out;
  }
  nav.hidden {
    position: absolute;
    top: 70px;
    left: -215px;
    transition: all 0.2s ease-in-out;
  }
  .boxBtnBurger {
    display: block;
    padding: 0 10px;
  }
  .imgLogo {
    width: 120px;
    margin: 0 10px;
  }
  .boxLink {
    margin-left: 1.5rem;
  }
  .boxLink .navLink {
    width: 95px;
    font-size: 1rem;
  }
}
@media(min-width: 1024px){
  .navbarContainer {
    width: 100%;
    justify-content: space-between;
    padding: 1rem 3rem;
  }
}