.linkTO {
    text-decoration: none;
    color: #000;
}
.thColor {
    color: #ffffff;
    filter: drop-shadow(0 0 1px var(--color-para-boton));
    text-align: center;
    height: 20px;
    margin: 0;
}